<div class="userInfo">
  <h2>User info</h2>
  <%= @user.name %>
  <%= @user.introduction %>
  <div class="editUser">
    <%= link_to "profile_edit" %>
  </div>
</div>
<div class="newBook">
  <h2>New Book</h2>
  <%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %><br>
    <%= f.submit 'Create book' %>
  <% end %>
</div>
<div class="Books">
  <h2>Users</h2>
  <% @books.each do |book| %>

  <% end %>
</div>
