<%= flash[:notice] %>
<div class="userInfo">
  <h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
  <%= @user.name %>
  <%= @user.introduction %>
  <div class="editUser">
    <%= link_to "profile_edit" , edit_user_path(@user)%>
  </div>
</div>
<div class="newBook">
  <h2>New Book</h2>
  <%= form_for(@book_new) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %><br>
    <%= f.submit 'Create book' %>
  <% end %>
</div>
<div class="bookDetail">
  <h2>Book Detail</h2>
  <table rules="rows">
    <tr>
      <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %></td>
      <%= @user.name %>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if current_user.id == @user.id %>
      <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？"  %></td>
      <% end %>
    </tr>
  </table>
</div>
